{% extends "layout.html" %} {% block title %}
<title>Haqqımızda</title>
{% endblock title %} {% block body %}
<h1>Haqqımızda</h1>
<hr />
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, mollitia sed
  voluptates iste ad consequuntur, molestias vel maxime veritatis tempora
  officiis in velit. Fugit, voluptatum. Quasi nam aperiam veniam sapiente, rem
  possimus laudantium reiciendis dolorum fugit distinctio praesentium? Ab
  molestiae omnis dicta incidunt quasi, tempora ullam excepturi numquam
  necessitatibus aliquam magnam non sequi tempore eligendi mollitia. In, dolores
  sed! Impedit, asperiores tempora, at laudantium harum dolore quae minus
  excepturi culpa magni nemo dignissimos, soluta sed recusandae! Asperiores quae
  velit repellat illo totam ipsum odio, minima explicabo numquam inventore!
  Perspiciatis quis laborum incidunt ipsam odio molestias vitae corporis
  maiores, porro adipisci vero fugit quaerat nesciunt consectetur facere aliquam
  dolorum corrupti iusto officiis? Similique, a modi doloremque in rem ipsum est
  culpa, incidunt reiciendis hic maxime odio voluptates possimus optio ab quo
  consectetur ea rerum. Expedita perferendis optio in est aut facilis dolor!
  Aperiam sed voluptatum dolorem dolores in fuga vel sunt, quos eos eius ad,
  itaque animi esse obcaecati dolore consequatur. Fugit adipisci in culpa sit
  veniam ut repudiandae laboriosam id saepe similique dolor aliquid nihil eos
  alias excepturi, natus aperiam debitis. Facilis aspernatur excepturi autem
  voluptatem facere architecto cupiditate officia tempora, aliquam perspiciatis
  sed consectetur amet at iusto. Labore est nostrum atque, cum libero dolor eius
  illo reiciendis voluptates ratione aspernatur similique quaerat. Rerum natus
  ab corporis ut pariatur dolore est reprehenderit, voluptatibus inventore?
  Possimus accusantium modi quos adipisci illum, est laudantium iusto harum
  nemo, hic voluptas odio vero ratione aspernatur fuga! Reiciendis, maiores!
  Adipisci, sint. Modi ducimus impedit accusantium!
</p>
<hr />
<div class="contact">
  <a href="#" style="color: crimson"
    ><i class="fab fa-instagram m-2" style="font-size: 1.5rem"></i
  ></a>
  <a href="#" style="color: dodgerblue"
    ><i class="fab fa-facebook m-2" style="font-size: 1.5rem"></i
  ></a>
  <a href="#" style="color: red"
    ><i class="fab fa-youtube m-2" style="font-size: 1.5rem"></i
  ></a>
</div>
{% endblock body %}
