{% extends "layout.html" %} {% block title %}
<title>Qeydiyyat</title>
{% endblock title %} {% block body %}
<h1>Qeydiyyat</h1>
<hr />
{% from "formhelpers.html" import render_field %}
<form method="post">
  <dl>
    <label for="username">Username: </label>{{ render_field(form.username,
    class="form-control") }} <label for="email">Email: </label>{{
    render_field(form.email, class="form-control") }}
    <label for="password">Şifrə: </label>{{ render_field(form.password,
    class="form-control") }}
    <label for="confirm">Şifrənizi təkrarlayın: </label>{{
    render_field(form.confirm, class="form-control") }}
  </dl>
  <p><input type="submit" value="Qeyd Ol" class="btn btn-primary" /></p>
</form>

{% endblock body %}
